#header-navbar {
  .navbar-brand {
    background: transparent asset-url("trove_logo.png") no-repeat top left;
    width: 100%;
    text-indent: 100%;
    height: 65px;
    width: 90px;
    margin-top: 8px;
    margin-bottom: 3px;
  }
}


.features {
  height: auto;
  margin-top: 4.1em;
  margin-bottom: 1.5em;
}

.features .thumbnail img{
  margin-top: 1.5em;
  margin-bottom: .5em;
}

.features .index_title {
  height: 4em;
}

footer {
  margin-top: 5px;
  border-top: 1px solid #e5e5e5;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
  text-align: center;
}

@media screen {

  #contact, #about {
    padding-bottom: 100px;
  }
  
  .scroll-inside {
    position: relative;
  }

  .scroll-inside > div {
  // add the scroll-inside class to make <div> elements immediately inside the containing element scrollable
    position: relative;
    overflow: auto;
    height: 100vh; // viewport hieght - supported in current releases of Chrome, Safari, IE, Firefox

  }

}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav>li>a:hover {
  color: #777777;
}
